<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
    <head>
        <title>Crysil</title>
        <script type="text/javascript" src="/static/game/jquery.js"></script>
		<script type="text/javascript" src="/static/game/tquery-all2.js"></script>
		<script type="text/javascript" src="/static/game/Three.js"></script>
		<script type="text/javascript" src="/static/game/threeselector.js"></script>
		<script type="text/javascript" src="/static/game/threex.domevent.js"></script>
		<script type="text/javascript" src="/static/game/physi.js"></script>
		<script type="text/javascript" src="/static/game/ColladaLoader.js"></script>
<!-- 	<script type="text/javascript" src="/static/game/threex.domevent.object3d.js"></script> -->
		<script type="text/javascript" src="/static/game/THREEx.GeometryUtils.js"></script>
		<script type="text/javascript" src="/static/game/Cuboid.js"></script>
		<script type="text/javascript" src="/static/game/game3d.js"></script>
        <script type="text/javascript" src="/static/game/json_parse.js"></script>
        <style type="text/css">
            html,body{
                margin: 0;
                padding: 0;
                background: white;
            }
        </style>
   </head>
    <body>
    </body>
</html>
