<html>
<head>
	<title>Crysil Map editor </title>
	<script type="text/javascript" src="/static/game/jquery.js"></script>
    <script type="text/javascript" src="/static/game/jquery.gamequery-0.5.0.js"></script>
    <script type="text/javascript" src="/static/game/editor.js"></script>
    <script type="text/javascript" src="/static/game/json_parse.js"></script>
    <script type="text/javascript" src="/static/game/json2.js"></script>
    <script type="text/javascript" src="/static/game/jquery-ui-1.8.14.custom.min.js"></script>
    <style>
     #entOver {opacity:0}
    </style>
</head>
<body>
	<h2>MAP EDITOR</h2> <input id="mapName" type="text" value="Name here"/> <button onclick="saveMap()">Save</button>
	<div id="tools">
		<img src="/static/icons/tile.png" onclick="setToolTile()"/>
		<img src="/static/icons/entity.png" onclick="setToolEntity()"/>
	</div>
	<div style="float:left; width:790; height:550">
	<div id="playground">
	</div>
	</div>
	<div id="options" style="width:300px; height:550px; float:left">
		WELCOME TO THE CRYSIL MAP EDITOR! YEAH IT IS A CRYSIL MAP EDITOR!
	</div>
</body>
</html>